.h1 {
    font-family: var(--fontTitle);
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    color: var(--h1);
    margin: 0 0.5rem 1rem 0.5rem;
}

.h2 {
    font-family: var(--fontText);
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    color: var(--h2);
    margin: 1rem 0 0 0;
}

.h3 {
    font-family: var(--fontText);
    font-size: .8rem;
    font-weight: 300;
    text-align: justify;
    line-height: 1.3rem;
    color: var(--h3);
    margin: 2rem 0 0 0;
}

.h3::before {
    content: "\"";
}

.h3::after {
    content: "\"";
}

.lbl {
    font-family: var(--fontTitle);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.2rem;
    color: var(--h1);
    transition: .1s ease-out;
}

.error {
    font-family: var(--fontText);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.6rem;
    color: red;
    margin: 1rem 0 2rem 0;
}