#melancia-container {
    flex: 0 0 25%;
    font-family: var(--fontTitle);
    font-size: 2rem;
    text-align: center;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
    /* border-image: url(../images/border1.png) 25% 25% 25% 25% / 0 1rem 0 0 repeat; */

    background-color: #003500;
}

#melancia {
    cursor: url(../images/pointer.cur), pointer;
    width: 12rem;
    height: 12rem;
    margin: 2rem 0 8rem 0;
    transition: .1s ease-out;
}

#melancia:active {
    transform: scale(0.95);
}

#melanciazinha {
    width: 2rem;
    height: 2rem;
    margin: 0 .4rem -.4rem 0;
    padding: 0;
}