.tabs {
    display: flex;
}

.tablink {
    background-color: var(--exterior);
    border: none;
    cursor: url(../images/pointer.cur), pointer;
    border-radius: 1em 1em 0 0;
    padding: 1rem 1rem 1rem 1rem;
}

.tablink:hover {
    background-color: var(--exterior-hover);
}

.tablink.active {
    padding: 1rem 1rem 1rem 1rem;
    background-color: var(--interior);
}

.tabcontent {
    background-color: var(--interior);
    display: none;
    padding: 1rem;
    border-top: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.tabcontent.active {
    display: block;
}