.floating-text {
    position: fixed;
    bottom: 5%;
    left: 5%;
    pointer-events: none;
    max-width: 360px;
    font-family: var(--fontTitle);
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    z-index: 2;
}

dialog {
    font-family: var(--fontText);
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    color: var(--h2);

    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background: var(--interior);
    border: var(--exterior) solid 3px;
    border-radius: 1em;
    padding: .5em;
}