.tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    background-color: var(--exterior-hover);
    border: solid .2em var(--exterior);
    width: 360px;
    padding: 1rem;
    border-radius: 1em;
    pointer-events: none;
}

.tooltip .h1 {
    margin: 0 .5rem -.5rem .5rem;
}

.tooltip .h2 {
    margin: 0 0 0 0;
}

.upgrade:hover .tooltip,
.boughtUpgrade:hover .tooltip {
    visibility: visible;
}