#upgrade-container {
    flex: 0 0 45%;
    position: relative;
}

#upgrades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.upgrade {
    cursor: url(../images/pointer.cur), pointer;
    text-align: center;
    font-family: var(--fontText);
    padding: .2rem;
    display: inline-block;
    font-size: 1.5rem;
    margin: .3rem;
    width: 15%;

    border: .5rem solid var(--exterior);
    background: url(../images/bg2.png) no-repeat center/cover;
}

.upgrade #upIMG {
    width: 3.5rem;
    margin: .3rem 0 -.3rem 0;
    animation: float 3s infinite ease-in;
}

.upgrade:hover #upIMG {
    animation: shiver .7s infinite ease-in;
}

.upgrade:active {
    z-index: 2;
    filter: brightness(110%);
}

#boughtUpgrades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    justify-content: flex-start;
    margin: auto;
    width: 90%;
    bottom: 10%;
    margin: 2rem;
}

.boughtUpgrade {
    cursor: url(../images/pointer.cur), pointer;
    text-align: center;
    font-family: var(--fontText);
    padding: .1rem;
    display: inline-block;
    font-size: 1.5rem;
    margin: .3rem;
    width: 2rem;
    height: 2rem;

    border: .2rem solid var(--exterior);
    background: url(../images/bg2.png) no-repeat center/cover;
}

.boughtUpgrade #upIMG {
    width: 2rem;
}

@media only screen and (max-width: 1390px) {
    .upgrade {
        font-size: 1rem;
        width: 30%;
    }

    .upgrade #upIMG {
        width: 2.5rem;
    }
}